CardGame/src/CardGame/cards.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT cardList (card)>
<!ELEMENT card (cardType, castTime, resource, costB, costW, costG, costN)>
<!ELEMENT cardType (#PCDATA)>
<!ELEMENT castTime (#PCDATA)>
<!ELEMENT resource (#PCDATA)>
<!ELEMENT costB (#PCDATA)>
<!ELEMENT costW (#PCDATA)>
<!ELEMENT costG (#PCDATA)>
<!ELEMENT costN (#PCDATA)>